.note{
  min-width: 170px;
  max-width: 200px;
  aspect-ratio: 1;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
  /* padding: 5px 20px 5px 20px; */
  padding: 20px;
}

.note h2,p{
  padding: 0;
  margin: 0;
}

.note h2{
  margin-bottom: 15px;
}

.yellow{background-color: var(--yellow-note-color);}
.red{background-color: var(--red-note-color);}
.green{background-color: var(--green-note-color);}