nav{
  box-shadow: 0 5px 40px 1px rgba(0,0,0,.25)
}

.nav-container{
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav h1{
  color: rgb(37, 37, 37);
  margin-right: auto;
}

nav ul,li{
  list-style-type: none;
  display: inline;
}

nav li{
  padding-left: clamp(15px,2.5vw,35px);
  padding-right: clamp(15px,2.5vw,35px);
}

nav a{
  text-decoration: none;
  color: rgb(37, 37, 37);
}


.about-modal{
  background-color: rgba(0,0,0,.33);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.about-modal-box{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  max-width: 200px;
  animation-name: modal-animate;
  animation-duration: 0.7s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

@keyframes modal-animate {
  from{scale: 0.2}
  to{scale: 1}
}

.about-modal-btn-group{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -50%;
}

.about-modal-ok-button{
  background-color: #587DFF;
  border: none;
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1;
  color: white;
  font-size: 15px;
  margin: 5px;
}